.footer {
    background: url(../images/footer.jpg) no-repeat center center/cover;
    color: #fff;
    height: 152px;
    @media (max-width: 800px) {
        height: auto;
        padding: 20px 0;
    }
    .footerContainer {
        font-family: var(--font-main);
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        font-size: 18px;
        height: 100%;
         @media (max-width: 800px) {
            flex-direction: column;
            justify-content: center;
            text-align: center;
            padding: 20px 0;
        }
        ul {
            list-style-type: none;
            display: flex;
            @media (max-width: 800px) {
                margin-top: 20px;
            }
            li {
                margin-right: 30px;
                &:last-child {
                    margin-right: 0;
                }
                a {
                    color: #fff;
                    font-size: 18px;
                    text-decoration : none;
                    &:hover {
                        opacity: 0.5;
                    }
                }
            }
        }
    }
}