.header {
    width: 100%;
    height: 100px;
    background: #fff;
    position: relative;
    @media (max-width: 800px) {
        height: auto;
        padding: 20px 0;
    }
}

.innerHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    .headerLeft {
        @media (max-width: 800px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
        }
        a {
            position: absolute;
            top: 50px;
            z-index: 9;
            @media (max-width: 800px) {
                position: static;
            }
        }
    }
    .headerRight {
        margin-right: 100px;
        position: absolute;
        right: 0;
        bottom: -20px;
        @media (max-width: 1100px) {
            margin-right: 40px;
        }
        @media (max-width: 800px) {
            display: none;
        }
        ul {
            li {
                margin-right: 40px;
                margin-bottom: 20px;
                a {
                    position: relative;
                    display: inline-block;
                    padding-bottom: 15px;
                    &::after {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        height: 4px;
                        width: 0;
                        transition: width 0.3s ease-out;
                        background-color: var(--orange);
                    }
                    
                    &:hover::after {
                        width: 100%;
                    }
                }
            }
        }
    }
}