@keyframes borderSlideIn {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

a {
    color: #fff;
}

img.hero {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.heroHolder {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden; 
}

.heroText {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    align-items: center;
    h1 {
        font-family: var(--font-main);
        font-size: 72px;
        color: #fff;
        width: 1017px;
        line-height: 135%;
        font-optical-sizing: auto;
        font-style: normal;
        @media (max-width: 1100px) {
            width: 100%;
            padding: 0 40px;
            font-size: 48px;
        }
        span {
            padding-bottom: 4px;
            position: relative;
            display: inline-block;
            transition: all 0.3s ease-out;
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                height: 4px;
                width: 0;
                transition: width 0.8s ease-out;
            }
            
            &.lineOrange {
                &::after {
                    background-color: var(--orange);
                    animation: borderSlideIn 0.8s ease-out 0.5s forwards;
                }
                &:hover {
                    color: var(--orange);
                }
            }
            &.lineGreen {
                &::after {
                    background-color: var(--green);
                    animation: borderSlideIn 0.8s ease-out 1s forwards;
                }
                &:hover {
                    color: var(--green);
                }
            }
            &.lineBlue {
                &::after {
                    background-color: var(--blue);
                    animation: borderSlideIn 0.8s ease-out 1.5s forwards;
                }
                &:hover {
                    color: var(--blue);
                }
            }
        }
    }
}