---
import styles from '../styles/navigation.module.css'
---

<nav class={styles.navMenu}>
    <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#our-services">Our Services</a></li>
        <li><a href="#contact-us">Contact Us</a></li>
    </ul>
</nav>