---
import '../styles/global.module.css'
import '@fontsource/epilogue'
import '@fontsource/poly'
import 'aos/dist/aos.css';
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SEO } from "astro-seo";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/png" href="/favicon.ico" />
		<link rel="icon" href="/favicon.ico" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<meta name="generator" content={Astro.generator} />
		 <SEO
			title="Third Branch | Strategy, Consulting, and Development"
			description="Third Branch offers incisive strategy, creative consulting, and full-stack development services to help your brand grow."
			openGraph={{
				basic: {
				title: "Third Branch | Strategy, Creative Consulting, and Development Services",
				type: "website",
				image: "https://thirdbranchconsulting.com/_astro/hero.D9LebxFL_DUag0.webp",
				}
			}}
		/>
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
		<script src="../js/aos.js"></script>
		<script src="../js/smoothScroll.js"></script>
		<script src="../js/contactForm.js"></script>
	</body>
</html>


